@import 'fonts.scss';
@import 'reset.scss';
body{
    background: #222;
    overflow-x: hidden;
}
.container{
    max-width: 1160px;
    // max-width: 1440px;
    margin: 0 auto;
}

.cont{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    // background-image: url('../img/Component\ 2.png');
    padding-top: 47px;
    padding-bottom: 364px;

    

    .head{
        position: relative;
        img{
            position: absolute;
            top: -47px;
            z-index: -2;
            right: -180px;
        }
    }
    .header-top{
        margin-bottom: 126px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        &__menu{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                li{
                    font-family: "Gilroy", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: #f1f1f1;
                    margin-right: 40px;
                }
                li:last-child{
                    margin-right: 0;
                }
            }
            svg{
                margin-right: 80px;
            }
        
        }
        button{
            font-family: "Gilroy", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #151515;
            padding: 15px 35px;
            border-radius: 65px;
            position: relative;
            z-index: 9999;
        }
        img{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
        
            
            
        
    }
    .header-bottom{
        position: relative;
        z-index: 9999;
        h1{
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 80px;
            line-height: 100%;
            color: #f1f1f1;
            margin-bottom: 30px;
            max-width: 1072px;
        }
    p{
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        color: #ff4c0d;
        max-width: 518px;
    }


}
}
    .header{
    // background-image: url('../img/Component\ 2.png');
    // background-position-x: right;
    // background-repeat: no-repeat;
}
.batary{
    
    svg{
        position: absolute;
        border-radius: 100%;
        
        filter: blur(94px);
        top: -50%;
        left: 150px;
        }
}
.bat-img{
    position: relative;
}
.svg-bat{
    position: absolute;
    bottom: 0;
}
.bat{
    // position: relative;
    padding-bottom: 120px;
    h2{
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 45px;
        line-height: 110%;
        color: #f1f1f1;
        margin-bottom: 60px;
        max-width: 1034px;
    }

    

    &__info{
        display: flex;
        justify-content: space-between;
        .active{
            p, h3{
                opacity: 1 !important;
            }
            p::after{
                background: #ff4c0d !important;
                opacity: 1 !important;
            }
            
        }
        .inf{
            h3{
                font-family: "Gilroy", sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: #f1f1f1;
                margin-bottom: 33px;
                opacity: 0.4;
            }
            p{
                // border-top: 3px solid #ff4c0d;
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
                max-width: 360px;
                opacity: 0.4;
                position: relative;
            }
            p::after{
                content: '';
                position: absolute;
                width: 111.3%;
                height: 3px;        
                background: #f1f1f1;
                opacity: 0.4;
                top: -15px;
                left: 0;
            }
            
        }
        .inf:last-child{
            p::after{
                width: 100%;
            }
        }
    }
    &__img{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .tab-img1{
            border-radius: 15px;
            width: 760px;
            height: 400px;
        }
        .tab-img2{
            border-radius: 15px;
            width: 360px;
            height: 300px;
        }
    }
    
}
.disign{
    // position: relative;
    // z-index: 9999;
    // background-image: url('../img/png/bg.png');
    // background-repeat: no-repeat;
    // background-position: right;
    h2{
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 45px;
        line-height: 110%;
        color: #ff4c0d;
        margin-bottom: 70px;
        max-width: 782px;
    }
    .disign-apps{
        // display: flex;
        img{
            height: 800px;
        }
    }
    .app-title{
        h2{
            max-width: 525px;
            margin-bottom: 30px;
        }
        p{
            font-family: "Gilroy", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #f1f1f1;
            max-width: 331px;
            margin-bottom: 60px;
        }
        .apps{
            a:first-child{
                margin-right: 20px;
            }
        }
    }
    .app-add{
        display: flex;
        align-items: center;
    }

    .zigzag{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
    }
    .svg{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -2;
    }
    .svg-3{
        position: absolute;
        top: 0;
        right: -180px;
        z-index: -2;
    }


}
.disign-baner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__item{
        border-radius: 15px;
        padding: 60px;
        padding-top: 368px;
        // background: black;


        h3{
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #f1f1f1;
        }
        p{
            font-family: "Gilroy", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #f1f1f1;
            max-width: 440px;
            margin-top: 15px;
            max-width: 439px;
        }
    }
    &__item:first-child{
        background-image: url('../img/png/samokat.png');
        background-repeat: no-repeat;
        background-position: top;
    }
    &__item:last-child{
        background-image: url('../img/png/panel.png');
        background-repeat: no-repeat;
    }
}
.app-add{
    display: flex;
    justify-content: space-between;
    img{
        width: 400px;
        height: 532px !important;
        margin-right: 72px;
    }
}
.rev-que{
    
}
.review-question{
    padding: 120px 0;
    margin-bottom: 120px;
    position: relative;
    .review{
        // position: relative;
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 45px;
            line-height: 110%;
            color: #ff4c0d;
            margin-bottom: 30px;
        }
        .items{
            position: absolute;
            display: flex;
            margin-bottom: 30px;
        }
        &__item{
            margin-bottom: 30px;
            width: 460px;
            padding: 40px;
            background: #151515;
            border-radius: 15px;
            margin-right: 40px;
            box-sizing: border-box;
            h3{
                position: relative;
                font-family: "Gilroy", sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: #f1f1f1;
                margin-bottom: 33px;
            }
            p{
                
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
                max-width: 380px;
            }

            h3::after{
                content: '';
                position: absolute;
                height: 3px;
                background: #ff4c0d;
                width: 100px;
                bottom: -15px;
                left: 0;

            }
            p:last-child{
                margin-top: 20px;
                
            }
        }
        
    }
    .slider{
        display: flex;
        justify-content: space-between;
        margin-top: 364px;
        button{
            border-radius: 65px;
            padding: 15px 35px;
            background: #f1f1f1;
            font-family: "Gilroy", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #151515;
        }
        .arrow{
            position: relative;
            .arrow-l{
                position: absolute;
                left: -69px;
            }
        }
    }
    .question{
        position: relative;
        // display: flex;
        // align-items: flex-start;
        // align-self: flex-start;
        display: flex;
        justify-content: space-between;
        
        
        .info{
            h2{
                font-family: "Gilroy", sans-serif;
                font-weight: 500;
                font-size: 45px;
                line-height: 110%;
                color: #ff4c0d;
                margin-bottom: 30px;
                margin-top: 120px;
                max-width: 415px;
            }
            p{
                margin-bottom: 10px;
                font-family: "Gilroy", sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #f1f1f1;
                max-width: 328px;
            }
            button{
                margin-top: 50px;
                font-family: "Gilroy", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #151515;
                border-radius: 65px;
                padding: 15px 35px;
                background: #f1f1f1;
            }
        }
        .questions{
            position: absolute;
            right: 0;
            top: 120px;
            .quest-item{
                
                margin-bottom: 40px;
                // position: relative;
                right: -500px;
                h3{
                    position: relative;
                    font-family: "Gilroy", sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                    color: #f1f1f1;
                    margin-bottom: 33px;
                }
                h3::after{
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 3px;
                    background: #ff4c0d;
                    bottom: -15px;
                    left: 0;
                }
                p{
                    font-family: "Gilroy", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    color: #f1f1f1;
                    max-width: 640px;
                }
            }
            .quest-item:last-child{
                margin-bottom: 0;
            }
        }
    }
    .svg-1{
        position: absolute;
        top: 0;
        right: -180px;
        z-index: -2;
    }
    .svg-2{
        position: absolute;
        bottom: -160px;
        left: -180px;
        z-index: -2;
    }
}


.disign-apps{
    position: relative;
}

.zigzag{
    left: -180px !important;
    top: -144px !important;
}

.mi-add{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-image: url('../img/png/bg-mi.png');
    border-radius: 15px;
    .add-mi{
        display: flex;
        flex-direction: column;
        span{
            margin-bottom: 280px;
        }
        button{
            max-width: 122px;
            font-family: "Gilroy", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            border-radius: 65px;
            padding: 15px 35px;
            background: #ff4c0d;
        }
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 45px;
            line-height: 110%;
            color: #f1f1f1;
        }
        span{
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 120%;
            color: #ff4c0d;
        }
    }
    .complect{
        h3{
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #fff;
            margin-bottom: 25px;
        }
        ul li{
            font-family: "Gilroy", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #fff;
            margin-bottom: 10px;
        }
        ul li:last-child{
            margin-bottom: 0;
        }
    }
    img{
        position: absolute;
        right: 0;
        top: -113px;
    
    }
}
footer{
    background-image: url('../img/png/image\ 8.2.png');
    // background: #222;
    // opacity: 0.2;
    padding: 60px 0;
    .footer{
        display: flex;
        justify-content: space-between;
        ul li{
            font-family: "Gilroy", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #f1f1f1;
        }
        ul li:first-child{
            margin-bottom: 15px;
        }
        ul:last-child{
            text-align: end;
        }
    }
}
.modal{
    display: none ;
}
.tab-img3, .tab-img4{
    display: none;
    position: absolute;
}
.phone640{
    display: none;
}
.bike640{
    display: none;
}
.dostavka{
    display: none;
}
//adaptiv
.bat-svg{
    bottom: 0;
    left: 0 !important;
}


// .rev-que .container{
    

// }
// .review{
//     padding-left: 140px;
// }


// .items .container{
// 
.items {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
    .review__item{
        min-width: 460px;
    }
    
}

.cont .container{
    max-width: none;
    padding: 0;
    margin: 0;
}


@media (max-width:640px){
    // svg{
    //     display: none;
    // }
    .container{
        padding: 0 40px;
    }
    .header-top__menu{
        ul{
            display: none !important;
        
        
        }
        svg{
            display: block;
        }
    }
    .bye{
        display: none !important;
    }
    

    .tab-img2{
        display: none;
    }
    .tab-img1{
        height: 350px !important;
        width: 560px !important;
        position: absolute;
        top: 400px;
        
    }
    .tab-img3{
        display: block;
        top: 910px;

    }
    .tab-img4{
        display: block;
        bottom: 150px;
    }
    .modal{
        position: relative;
        display: flex  !important;
        border-radius: 100px !important;
        padding: 15px 15px !important;
        img{
            position: absolute !important;
            right: 7% !important;
            bottom: -15px !important;
        }
    }
    .header-bottom{
        h1{
            font-family: "Gilroy", sans-serif !important;
            font-weight: 600 !important;
            font-size: 40px !important;
            line-height: 120% !important;
            color: #ff4c0d !important;
            max-width: 560px !important;
        }
        p{
            font-family: "Gilroy", sans-serif !important;
            font-weight: 600 !important;
            font-size: 20px !important;
            line-height: 120% !important;
            color: #f1f1f1 !important;
            max-width: 346px !important;
        }
    }
    .header{
        background-position-x: center;
    }
    .bat{
        position: relative;
        h2{
            font-family: "Gilroy", sans-serif !important;
            font-weight: 600 !important;
            font-size: 30px !important;
            line-height: 110% !important;
            color: #f1f1f1 !important;
            max-width: 458px !important;
        }
        
    }
    .bat__info{
        flex-wrap: wrap;
    }
    .inf p{
        margin-bottom: 405px;
    }
    .disign-baner{
        
        display: flex;
        flex-wrap: wrap;
        &__item{
            margin-bottom: 20px;
        }
        &__item:last-child{
            margin-bottom: 0;
        }
    }
    .phone640{
        display: block;
        margin-right: 0 !important;
    }
    .phone{
        display: none !important;
    }

    .app-title{
        h2{
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 110%;
            color: #ff4c0d;
        }
        p{
            font-family: "Gilroy", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: -0.01em;
            color: #f1f1f1;
            max-width: 296px;
        }
        a{
            width: 120px;
            height: 40px;
            margin-right: 20px;
        }
        a:last-child{
            margin-right: 0;
        }
    }
    .question{
        display: flex;
        flex-wrap: wrap !important;
    }
    .questions{
        position: relative !important;
    }
    .mi-add{
        padding: 40px !important;
    }
    .add-mi{
        h2{
            font-family: "Gilroy", sans-serif !important;
            font-weight: 600 !important;
            font-size: 30px !important;
            line-height: 110% !important;
            color: #f1f1f1 !important;
        }
        span{
            font-size: 25px;
            line-height: 105%;
            color: #ff4c0d;
        }
    }


    .complect{
        display: none;
    }
    .bike640{
        width: 424px;
        height: 484px;
        right: -215px !important;
    }

    .bike6{
        display: none;
        
    }
    .bike640{
        display: block;
        right: -70px !important;
    }
    .dostavka{
        display: block;
        font-family: "Gilroy", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #f1f1f1;
        margin-top: 10px;
    }

    .inf{
        p, h3{
            opacity: 1 !important;
            max-width: 487px !important;
        }
        p::after{
            background: #ff4c0d !important;
            opacity: 1 !important;
            width: 150px !important;
        }
    }

    .disign{
        background-position-y: top;
    }
    .zigzag{
        display: none;
    }
    .bat-svg{
        position: absolute;
        width: 860px !important;
        height: 860px !important;
        left: -250px !important;
        top: -250px !important;
    }
    .svg{
        display: none;
    }
    .app-add{
        img{
            width: 220px;
            height: 418px !important;
        }
    }
}
